<h1>{{titulo}}</h1>
<p>Compra las zapas de las macas: </p>
<span *ngFor="let marca of marcas; let i = index">{{+marca}} </span>
<ul>
    <li *ngFor="let zapa of zapatillas; let i = index">
        <span [ngStyle]="{'text-decoration' : !zapa.stock ? 'line-through' : 'none'}">
            {{i+' - '+zapa.nombre}} - <strong>{{zapa.precio}}</strong>
        </span>
        <span *ngIf="zapa.precio<=100"
        [style.color]="zapa.precio <= 100 ? 'green' : 'transparent'"
        > !En Oferta¡</span>
        <span *ngIf="zapa.precio > 100"
        [style.color]="zapa.precio > 100 ? 'red' : 'transparent'"
        > !Sin oferta¡</span>
    </li>
</ul>   